body {
    background-color: #f4f4f4;
    font-family: 'Arial', sans-serif;
}

.title {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
}

.subheader {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: #555;
}

.small-text {
    font-size: 12px;
    text-align: center;
    color: #888;
    margin-top: 20px;
}

.stButton>button {
    background-color: #FF5733;
    color: white;
    font-size: 16px;
    border-radius: 8px;
    width: 100%;
    padding: 10px;
    transition: 0.3s;
}

.stButton>button:hover {
    background-color: #D84315;
}

.stDownloadButton>button {
    background-color: #28A745;
    color: white;
    font-size: 16px;
    border-radius: 8px;
    width: 100%;
    padding: 10px;
    transition: 0.3s;
}

.stDownloadButton>button:hover {
    background-color: #1E7E34;
}
